# Miscellaneous
.DS_Store
*.class
*.log
*.pyc
*.swp
*.lock
.buildlog/
.history

# Editor directories and files
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
**/android/**/gradle-wrapper.jar
**/android/**/gradlew
**/android/**/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks
**/captures/
**/generated/
**/.cxx/
**/.externalNativeBuild/
**/intermediates/
**/cmake/
**/build/

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcworkspace/
*.xcuserstate
*.xcworkspace
*.xcuserdata
DerivedData/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/

# Linux
linux/flutter/ephemeral/
linux/runner/Debug/
linux/runner/Release/

# Windows
windows/flutter/ephemeral/
windows/runner/Debug/
windows/runner/Release/

# Firebase
.firebase/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json
